.vscode/*
config.ini
jsontest.py
beta/*
.gitignore
/.vs/*
*.pyc
/env
/env/Include
/env/Include/weakrefobject.h
/env/Include/warnings.h
/env/Include/unicodeobject.h
/env/Include/ucnhash.h
/env/Include/tupleobject.h
/env/Include/traceback.h
/env/Include/token.h
/env/Include/timefuncs.h
/env/Include/sysmodule.h
/env/Include/symtable.h
/env/Include/structseq.h
/env/Include/structmember.h
/env/Include/stringobject.h
/env/Include/sliceobject.h
/env/Include/setobject.h
/env/Include/rangeobject.h
/env/Include/py_curses.h
/env/Include/pythread.h
/env/Include/pythonrun.h
/env/Include/Python.h
/env/Include/Python-ast.h
/env/Include/pystrtod.h
/env/Include/pystrcmp.h
/env/Include/pystate.h
/env/Include/pyport.h
/env/Include/pymem.h
/env/Include/pymath.h
/env/Include/pymactoolbox.h
/env/Include/pymacconfig.h
/env/Include/pygetopt.h
/env/Include/pyfpe.h
/env/Include/pyexpat.h
/env/Include/pyerrors.h
/env/Include/pydebug.h
/env/Include/pyctype.h
/env/Include/pyconfig.h
/env/Include/pycapsule.h
/env/Include/pyarena.h
/env/Include/pgenheaders.h
/env/Include/pgen.h
/env/Include/patchlevel.h
/env/Include/parsetok.h
/env/Include/osdefs.h
/env/Include/opcode.h
/env/Include/objimpl.h
/env/Include/object.h
/env/Include/node.h
/env/Include/moduleobject.h
/env/Include/modsupport.h
/env/Include/methodobject.h
/env/Include/metagrammar.h
/env/Include/memoryobject.h
/env/Include/marshal.h
/env/Include/longobject.h
/env/Include/longintrepr.h
/env/Include/listobject.h
/env/Include/iterobject.h
/env/Include/intrcheck.h
/env/Include/intobject.h
/env/Include/import.h
/env/Include/grammar.h
/env/Include/graminit.h
/env/Include/genobject.h
/env/Include/funcobject.h
/env/Include/frameobject.h
/env/Include/floatobject.h
/env/Include/fileobject.h
/env/Include/eval.h
/env/Include/errcode.h
/env/Include/enumobject.h
/env/Include/dtoa.h
/env/Include/dictobject.h
/env/Include/descrobject.h
/env/Include/datetime.h
/env/Include/cStringIO.h
/env/Include/complexobject.h
/env/Include/compile.h
/env/Include/codecs.h
/env/Include/code.h
/env/Include/cobject.h
/env/Include/classobject.h
/env/Include/ceval.h
/env/Include/cellobject.h
/env/Include/bytes_methods.h
/env/Include/bytesobject.h
/env/Include/bytearrayobject.h
/env/Include/bufferobject.h
/env/Include/boolobject.h
/env/Include/bitset.h
/env/Include/ast.h
/env/Include/asdl.h
/env/Include/abstract.h
*.h
